html {
  scroll-behavior: smooth;
}

/* button setup */
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  cursor: pointer;
}

.navbar-contents{
  width: 100% !important
}

/* vertical hamburger setup */
.navbar-contents-block .navbar-contents-item {
  width: 100% !important;
  display: block !important;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
}

.burger-right {
  float: right !important
}

.no-display {
  display: none !important;
}

.display-burger-block,
.display-burger {
  display: block !important;
}

/* all the screen sizes variation */
@media (max-width:600px) {
  .modal-content {
    margin: 0 10px;
    width: auto !important
  }

  /* .modal{padding-top:30px} */
  .no-display-small {
    display: none !important;
  }
}

@media (max-width:768px) {
  .modal-content {
    width: 500px
  }

  .modal {
    padding-top: 50px
  }
}

@media (min-width:993px) {
  .modal-content {
    width: 900px
  }

  .no-display-large {
    display: none !important
  }
}

@media (max-width:992px) and (min-width:601px) {
  .no-display-medium {
    display: none !important
  }
}

/* makes navbar static while scrolling */
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}

.box {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.page1-center {
  text-align: center !important;
  background-image: url("../images/traffica.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 128px 16px;
}

.header-subclass {
  transition: all 9s ease;
  animation-name: transition;
  animation-duration: 9s;
  font-size: 2.5vw;
  color: red
}

body {
  margin: 0;
  padding: 0;
}

/* flexobox and its contents */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.flex-space {
  margin: 15px !important;
}

.flex-card {
  background-color: #e69800;
}

.flex-card h4 {
  color: #f5e7cd;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10;
}

.flex-card .card-body {
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center !important;
}

.flex-card:hover {
  background-color: #d98500;
  cursor: pointer
}

.flex-card:hover h4 {
  text-decoration: none;
  color: black
}

/* footer */
.final-footer {
  /* background-color: black; */
  color: white;
  padding-top: 64px !important;
  padding-bottom: 5px !important;
}


.title-alignment {
  font-size: 8vw;
  color: red;
  padding-top: 100px;
  animation-name: transition;
  animation-duration: 9s;
}

@keyframes transition {
  from {color: whitesmoke;}
  to {color: red;}
}

.margin-top {
  margin-top: 16px !important;
}


/* hover color */
.button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

/* color setup */
.color-black,
.black-hover:hover {
  color: #fff !important;
  background-color: #4d4d4d !important
}

.page {
  height: 100vh;
  box-sizing: border-box;
  /* box-sizing controls whether the margin and padding are considered to be 
      part of the element width */
  position: absolute;
}

#page-1 {
  width: 100vw;
}

#page-2 {
  width: 100vw;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

#page-3 {
  width: 100vw;
}

.hidden {
  transition: transform 1s;
  transform: translateX(-100%);
}

.show {
  transition: transform 1s;
  transform: translateX(0);
}

#all-pages {
  position: relative;
}

.color-black,
.black-hover:hover {
  color: #fff !important;
  background-color: #4d4d4d !important
}

.textbox-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.textbox-container .text-field {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
}

.searchbtn {
  background: #ffec00;
  width: 20%;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.searchbtn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.news-header {
  margin-top: 16px !important;
  color: white;
  font-size: 3vw;
  z-index: -1;
}

.search-page {
  position: relative;
  height: 300px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* button setup */
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  cursor: pointer;
}

/* hover color */
.button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

#filter-btn{
  border-radius: 10px
}

#filter-btn2{
  border-radius: 10px
}

/* flexobox and its contents */
.stats-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}

.stats-container>div {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#donutchart{
  height: 700px;

}
